Trabajo final (2).json
{
  "name": "Trabajo final",
  "nodes": [
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "getAll",
        "databaseId": {
          "__rl": true,
          "value": "39b1cebc-2ccf-80dd-9bd5-f311938e99e7",
          "mode": "list",
          "cachedResultName": "Autos Avis Budget",
          "cachedResultUrl": "https://app.notion.com/p/39b1cebc2ccf80dd9bd5f311938e99e7"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.notionTool",
      "typeVersion": 2.2,
      "position": [
        -1168,
        -480
      ],
      "id": "d0f551ff-912c-4387-b6ee-3c50c8896d83",
      "name": "Base de conocimientos ABG",
      "credentials": {
        "notionApi": {
          "id": "pogkQ49PiFH6pst5",
          "name": "Notion account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.correo }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.4,
      "position": [
        -1312,
        -480
      ],
      "id": "310c81ad-9560-4870-b3dc-cd0531502c8a",
      "name": "Simple Memory"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [
        -592,
        -496
      ],
      "id": "037f622a-539c-4167-8109-44a2dbf00c9c",
      "name": "Error Trigger"
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyHour",
              "minute": 59
            }
          ]
        },
        "databaseId": {
          "__rl": true,
          "value": "39d1cebc-2ccf-8022-9116-d964429e8c23",
          "mode": "list",
          "cachedResultName": "Pedidos de cotizacion",
          "cachedResultUrl": "https://app.notion.com/p/39d1cebc2ccf80229116d964429e8c23"
        }
      },
      "type": "n8n-nodes-base.notionTrigger",
      "typeVersion": 1,
      "position": [
        -1856,
        -688
      ],
      "id": "e70b9acb-70e3-40a1-ad5c-4be8734af9a1",
      "name": "Notion Trigger",
      "credentials": {
        "notionApi": {
          "id": "pogkQ49PiFH6pst5",
          "name": "Notion account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "for (const item of $input.all()) {\n  \n  // Función inteligente para buscar un campo sin importar mayúsculas, minúsculas,\n  // o si n8n lo traduce visualmente (ej. busca \"Mail\" y si no lo encuentra, busca \"Correo\")\n  const obtenerCampo = (nombreOriginal, alternativa) => {\n    const keys = Object.keys(item.json);\n    const encontrar = (busqueda) => keys.find(k => k.toLowerCase().trim() === busqueda.toLowerCase().trim());\n    \n    let claveEncontrada = encontrar(nombreOriginal);\n    if (!claveEncontrada && alternativa) {\n      claveEncontrada = encontrar(alternativa);\n    }\n    \n    const valor = claveEncontrada ? item.json[claveEncontrada] : \"\";\n    \n    // Si el valor es un array o un objeto de Notion, lo limpiamos para extraer solo el texto\n    if (Array.isArray(valor)) {\n      return valor[0] || \"\";\n    }\n    if (typeof valor === 'object' && valor !== null) {\n      return valor.email || valor.plain_text || valor.value || \"\";\n    }\n    return valor;\n  };\n\n  // Extraemos cada campo de forma ultra-segura\n  const nombre = obtenerCampo(\"Nombre\");\n  const correo = obtenerCampo(\"Mail\", \"Correo\"); // <--- Aquí busca primero \"Mail\" y si no, \"Correo\"\n  const categoria = obtenerCampo(\"Categoria de Auto\");\n  const ciudad = obtenerCampo(\"Ciudad\");\n  const dias = obtenerCampo(\"Cantidad de días\");\n  const detalle = obtenerCampo(\"Detalle del pedido\");\n\n  // Guardamos en el formato limpio de salida\n  item.json = {\n    nombre: typeof nombre === 'string' ? nombre.trim() : nombre,\n    correo: typeof correo === 'string' ? correo.trim() : correo,\n    categorías: typeof categoria === 'string' ? categoria.trim() : categoria,\n    ciudad: typeof ciudad === 'string' ? ciudad.trim() : ciudad,\n    dias: dias,\n    detalle: typeof detalle === 'string' ? detalle.trim() : detalle\n  };\n}\n\nreturn $input.all();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1664,
        -688
      ],
      "id": "a93898e9-f9e8-4689-82b4-89d71b1af187",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "resume": "webhook",
        "responseMode": "responseNode",
        "limitWaitTime": true,
        "resumeAmount": 30,
        "resumeUnit": "minutes",
        "options": {}
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -528,
        -704
      ],
      "id": "623e4e0a-a9f8-4535-ac28-b5dc1ff397e2",
      "name": "Wait",
      "webhookId": "eb8271be-dba3-4479-9b90-d7f31c1c0094"
    },
    {
      "parameters": {
        "sendTo": "={{ $('Code in JavaScript').item.json.correo }}",
        "subject": "Cotizacion de Alquiler de Auto - Avis Budget",
        "emailType": "text",
        "message": "={{ $('Cotizador Avis Budget').item.json.output }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        96,
        -816
      ],
      "id": "ff4e0f3c-4422-4c4e-83d5-7640943c1ec4",
      "name": "Send a message",
      "webhookId": "f4e4664f-18cd-490c-ba4b-bef90f5e575c",
      "credentials": {
        "gmailOAuth2": {
          "id": "GW1Y2MzbVT6mNPnH",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Cotizar alquiler con estos datos: {{ JSON.stringify($json) }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=Sos el responsable de cotizaciones de nuestra empresa de Alquiler de Autos llamada Avis Budget. \nVas a recibir solicitudes de cotización desde Notion y tenes que armar una cotización usando la base de datos de Notion de nuestra empresa y redactar un mail al cliente con lo que solicitó. El mail debe ser de la siguiente forma:\nHola {{ $json.nombre }}, gracias por comunicarte con Avis Budget Argentina.\nSegún lo solicitado le enviamos la siguiente cotización:\nPara la {{ $json['categorías'] }} en la ciudad {{ $json.ciudad }} el valor final por la cantidad de días {{ $json.dias }} es (multiplicar el valor por día de Notion por la cantidad de días solicitados por el cliente, ingresar el valor con el signo pesos y respetando puntos y comas en el número)\n“Este valor es final por el alquiler del auto, no incluye adicionales. En caso de solicitar alguno indicarlo en el mail cuando solicita la reserva”\nEn caso de querer realizar la reserva, por favor comunicarse reenviando este mail a reservations@avisbudget.com.ar.\nGracias por elegirnos.\nNo escribas nada adicional en el cuerpo del mail que no sea lo indicado.\nNo respondas ninguna pregunta o consulta que no tenga que ver con alquiler de autos de la empresa, si no sabes la respuesta responder que no tienes información al respecto.\nSolo debes usar la información que se brinda en nuestra base de datos de Notion de nuestra empresa.\n\n\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -1376,
        -688
      ],
      "id": "c75708ca-8c23-41a4-a925-e565763efa79",
      "name": "Cotizador Avis Budget",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-5-mini",
          "mode": "list",
          "cachedResultName": "gpt-5-mini"
        },
        "builtInTools": {},
        "options": {
          "maxTokens": 1000
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -1456,
        -480
      ],
      "id": "0fa27553-cb15-4186-b56d-f7fb8d73484b",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "DJxW11Pu1sqiXxcH",
          "name": "OpenAI account"
        }
      }
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "update",
        "pageId": {
          "__rl": true,
          "value": "={{ $('Notion Trigger').item.json.id }}",
          "mode": "id"
        },
        "propertiesUi": {
          "propertyValues": [
            {
              "key": "Estado|status",
              "statusValue": "Procesado por IA"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        -960,
        -704
      ],
      "id": "1efcaa26-c74b-42a2-9c36-42f88fb06f3e",
      "name": "Actualizacion Procesado por IA",
      "credentials": {
        "notionApi": {
          "id": "pogkQ49PiFH6pst5",
          "name": "Notion account"
        }
      }
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "update",
        "pageId": {
          "__rl": true,
          "value": "={{ $('Notion Trigger').item.json.id }}",
          "mode": "id"
        },
        "propertiesUi": {
          "propertyValues": [
            {
              "key": "Estado|status",
              "statusValue": "Sin respuesta - Vencido"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        -112,
        -464
      ],
      "id": "c891102e-a65a-4fb9-8e7f-461277d958a8",
      "name": "Actualizacion Timeout",
      "credentials": {
        "notionApi": {
          "id": "pogkQ49PiFH6pst5",
          "name": "Notion account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "8e6cd021-c0e6-45ae-8cee-7f1590d672cf",
              "leftValue": "={{ $json.headers }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "or"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -336,
        -704
      ],
      "id": "84190995-aaf6-405f-86f8-97c99eb8994a",
      "name": "If"
    },
    {
      "parameters": {
        "chatId": "8303622252",
        "text": "Error en Workflow Cotizador-Revisar Urgente",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -816,
        -496
      ],
      "id": "a1ab1d21-1734-4cbe-81bb-179353b9df36",
      "name": "Error al tecnico IA",
      "webhookId": "2a98af5d-5547-424e-9874-86d15eb91789",
      "credentials": {
        "telegramApi": {
          "id": "LDKdQabYbsG7hd19",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $('Notion Trigger').item.json['Mail tecnico'] }}",
        "subject": "Revisar-Cotizacion",
        "emailType": "text",
        "message": "=Hola, la IA generó una nueva cotización. \nPara revisarla, editarla si es necesario y aprobar el envío al cliente, hacé clic en el siguiente enlace:\n\n{{ $execution.resumeUrl }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        -704,
        -704
      ],
      "id": "3f4bdf93-804c-4ecc-9d28-6ab6cdedb16b",
      "name": "Mensaje a aprobar (Humano ATC)",
      "webhookId": "eaa002b1-ffb0-407d-b802-94c6638e8e7d",
      "credentials": {
        "gmailOAuth2": {
          "id": "GW1Y2MzbVT6mNPnH",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "update",
        "pageId": {
          "__rl": true,
          "value": "={{ $('Notion Trigger').item.json.id }}",
          "mode": "id"
        },
        "propertiesUi": {
          "propertyValues": [
            {
              "key": "Estado|status",
              "statusValue": "Aprobado por humano"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        -80,
        -816
      ],
      "id": "90df5a2b-1627-4e43-94ed-7a933b69a97a",
      "name": "Actualizacion aprobado por humano (ATC)",
      "credentials": {
        "notionApi": {
          "id": "pogkQ49PiFH6pst5",
          "name": "Notion account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "8303622252",
        "text": "=Error en Workflow Cotizador-Revisar Urgente⏰ Cotización sin aprobar a tiempo\n\nCliente: {{ $('Code in JavaScript').item.json.nombre }}\nCiudad: {{ $('Code in JavaScript').item.json.ciudad }}\n\nEl plazo de espera para la aprobación venció sin respuesta del área de ATC, por favor enviar la cotizacion por mail y cambiar el ESTADO en Notion manualmente.",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        112,
        -464
      ],
      "id": "37d1340b-c25f-4083-ae98-e3078a68058c",
      "name": "Error de ATC (Aviso de mail manual)",
      "webhookId": "2a98af5d-5547-424e-9874-86d15eb91789",
      "credentials": {
        "telegramApi": {
          "id": "LDKdQabYbsG7hd19",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "content": "Recepcion de solicitud.",
        "height": 304,
        "width": 448
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1968,
        -768
      ],
      "id": "fa934656-45ed-4f9f-b457-ad5bbd48d132",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "Procesamiendo con IA (RAG",
        "height": 448,
        "width": 496,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1520,
        -768
      ],
      "id": "dab35120-90da-432f-a472-86ea69d0a6ce",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "Actualización de Estado - Procesado por IA",
        "height": 240,
        "width": 256,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1024,
        -768
      ],
      "id": "fdcd3a85-9553-40de-a976-fabc1bacd012",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "Human-in-the-loop (Aprobación)",
        "height": 240,
        "width": 544,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -752,
        -768
      ],
      "id": "4225e6d9-0b7d-4995-a276-5c7f2bec20c5",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "content": "Confirmación y Envío al Cliente",
        "height": 240,
        "width": 544,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -192,
        -864
      ],
      "id": "83a7501e-5b75-4e57-8d5d-02071e55317a",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "content": " Manejo de Errores (IA)",
        "height": 208,
        "width": 704,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1008,
        -512
      ],
      "id": "c4ab7eeb-58c6-4412-967b-0a464fb56d51",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "content": "Manejo de Timeout (Sin respuesta ATC)",
        "height": 224,
        "width": 592,
        "color": "#80F49D"
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -240,
        -512
      ],
      "id": "145fe7a3-3c0a-416f-85e6-17c135234b64",
      "name": "Sticky Note6"
    }
  ],
  "pinData": {},
  "connections": {
    "Base de conocimientos ABG": {
      "ai_tool": [
        [
          {
            "node": "Cotizador Avis Budget",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "Cotizador Avis Budget",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Error Trigger": {
      "main": [
        [
          {
            "node": "Error al tecnico IA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notion Trigger": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Cotizador Avis Budget",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cotizador Avis Budget": {
      "main": [
        [
          {
            "node": "Actualizacion Procesado por IA",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error al tecnico IA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Cotizador Avis Budget",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Actualizacion Procesado por IA": {
      "main": [
        [
          {
            "node": "Mensaje a aprobar (Humano ATC)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Actualizacion aprobado por humano (ATC)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Actualizacion Timeout",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Actualizacion Timeout": {
      "main": [
        [
          {
            "node": "Error de ATC (Aviso de mail manual)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mensaje a aprobar (Humano ATC)": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Actualizacion aprobado por humano (ATC)": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "da0ece3f-dc16-4ed3-8788-584630df7148",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "79ca5f04b60f9147eab9db57800a8af193a9956f51ded063ad22988b9206513f"
  },
  "nodeGroups": [],
  "id": "Ig6pC97GlXWKSzd8",
  "tags": []
}